<section class="container text-monospace">
  <div class="container text-center">
    {{if .Site.Params.hero.enabled }}
    <img class="rounded-circle" src='{{ .Site.Params.hero.img | absURL }}' title="Icon by freepik rom www.flaticon.com" width="200px"/>
    {{end}}
		<h3 class="mt-3">{{ .Site.Title }}</h3>
		<span class='text-secondary'>{{ .Site.Params.about }}</span>
		<br><br>
    <div class="bg-white">
			<a href="{{ .Site.Params.github }}"><span class="badge badge-pill badge-dark">Github</span></a>
			<a href="https://facebook.com/ankit2491"><span class="badge badge-pill badge-warning">Facebook</span></a>
			<a href="https://linkedin.com/ankitsbu"><span class="badge badge-pill badge-dark">LinkedIn</span></a>
			<a href="https://instagram.com/ankitg0507"><span class="badge badge-pill badge-danger">Instagram</span></a>
			<a href="mailto:{{ .Site.Params.email }}"><span class="badge badge-pill badge-success">Email</span></a>
			<a href="{{ "index.xml" | absURL }}"><span class="badge badge-pill badge-warning">RSS Feed</span></a>
	</div>
  </div>
</section>
